@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 50px auto;
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.14);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.selectorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  background: none;
  border: none;
  font-size: 20px;
}

.filterSelector {
  margin: 0px 20px;
  background: #2c2c2c;
  height: 75px;
  width: 200px;
  text-align: center;
  border: none;
  border-radius: 40px;
  color: #bababa;
  font-size: 20px;
  cursor: pointer;
  font-family: "Fascinate";
}
.filterSelector:hover {
  background-color: #bababa;
  color: #2c2c2c;
  transition: 0.5s;
  border: #2c2c2c 5px solid;
}

.filterSelector option {
  background: grey;
  color: white;
}
