@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  align-items: center;
  background: url("../../assets/images/background-img.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
}
.outsideBorder {
  margin: 70px;
  padding: 5px;
  height: 70vh;
  width: 80vw;
  border-top: 3px solid #0bd2d3;
  border-left: 3px solid #0bd2d3;
  border-right: 3px solid #0bd2d3;
  border-bottom: 3px solid #0bd2d3;
  box-shadow: #0bd2d3 0px 0px 30px 0px;
}

.infoContainer {
  height: 70vh;
  width: 80vw;
  display: flex;
  background-color: #984b9cd8;
  backdrop-filter: blur(9px);
  border: #f990e8 2px solid;
}
.imgContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.imgContainer img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.textContainer h1 {
  font-size: 30px;
  font-weight: 600;
  color: aqua;
  text-align: center;
  margin-top: 10px;
  font-family: "Wire One", sans-serif;
  letter-spacing: 2px;
}

.dataContainer {
  display: flex;
  justify-content: left;
  align-items: left;
}
.dataContainer p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: "Wire One", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
.dataContainer h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  color: aqua;
  font-family: "Wire One", sans-serif;
  letter-spacing: 2px;
}
