.cardContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(245, 245, 220, 0.575);
  box-shadow: 6px 5px 9px 4px #30b1ab36;
  width: fit-content;
}

.titleGame {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}
.gameImage {
  display: flex;
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.gameImage img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

s.rating {
  display: flex;
  justify-content: center;
  height: 35px;
}

s.genres {
  display: flex;
  justify-content: center;
}
