.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 790px;
  align-items: center;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  width: fit-content;
  height: 80px;
}
.paginationContainer li {
  list-style: none;
}
.paginationContainer button {
  margin: 0 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.452);
  border: none;
  border-radius: 5px;
  color: aqua;
}

.paginationContainer button:hover {
  transform: translateY(2px);
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.692);
}
