@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 790px;
  align-items: center;
  border-radius: 40px;
  width: fit-content;
  height: 80px;
}
.paginationContainer li {
  list-style: none;
}
.paginationContainer button {
  margin: 0 5px;
  padding: 5px;
  background-color: #bababa;
  border: none;
  border-radius: 5px;
  color: #2c2c2c;
  font-size: 30px;
  font-family: "Fascinate";
  width: 40px;
  cursor: pointer;
}

.paginationContainer button:hover {
  transform: translateY(2px);
  transition: 0.3s;
  background-color: #2c2c2c;
  color: #bababa;
  border: #bababa 1px solid;
}
