@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-top: 3vh;
  background-color: #984b9c9d;
}
.tittleContainer {
  margin-left: 30px;
}
.container h1 {
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.container span {
  display: inline-block;
  font-family: "Fascinate";
  font-size: 2vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0bd2d3;
}
.container span:nth-child(1) {
  color: #0bd2d3;
}
.container span:nth-child(1)::after {
  content: "";
  background: #0bd2d3;
  position: relative;
  top: -0.1em;
  width: 10vw;
  height: 1em;
  display: block;
  border-radius: 5px;
}
.container span:nth-child(3) {
  color: #f990e8;
  letter-spacing: 0.18em;
  position: relative;
  top: -1.15em;
  z-index: 2;
  text-shadow: 1px 1px 1px rgb(177, 177, 177), 0.2em 0.15em 0 rgb(0, 0, 0);
}
.homeButton {
  background-color: #0bd2d3;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  align-items: center;
}
.homeButton:hover {
  background-color: #2c2c2c;
  text-decoration: none;
  color: #f990e8;
  transition: 0.5s;
  border: #0bd2d3 5px solid;
}
.linkHome {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Wire One", sans-serif;
}
.linkHome:hover {
  color: #f990e8;
  transition: 0.5s;
}

.soundContainer {
  height: 10px;
}
.sound {
  margin-right: 30px;
  margin-bottom: 20px;
}
