@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 790px;
  align-items: center;
  border-radius: 40px;
  width: fit-content;
  height: 80px;
}
.paginationContainer li {
  list-style: none;
}
.paginationContainer button {
  margin: 0 5px;
  padding: 5px;
  background-color: #984b9c;
  border: none;
  border-radius: 5px;
  color: #0bd2d3;
  font-size: 30px;
  font-family: "Fascinate";
  width: 40px;
  cursor: pointer;
}

.paginationContainer button:hover {
  transform: translateY(5px);
  transition: 0.5s;
  background-color: #0bd2d3;
  color: #984b9c;
  border: #984b9c 2px solid;
}

.icon {
  color: #0bd2d3;
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #984b9c;
  border-radius: 5px;
}

.icon:hover {
  transition: 0.5s;
  background-color: #0bd2d3;
  color: #984b9c;
  border: #984b9c 2px solid;
}
