@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
.searchBarContainer {
  margin-right: 20px;
}

.searchBarContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
  width: fit-content;
  height: 100%;
  background-color: #bababa;
  color: white;
  font-size: 1.5rem;
  font-family: "Fascinate";
  font-weight: 500;
  padding: 1rem;
  border-radius: 40px;
}
.searchBarContainer input {
  margin: 0px 10px;
  background: none;
  border: none;
  color: #2c2c2c;
  font-size: 20px;
  font-family: "Fascinate";
}
.searchBarContainer input::placeholder {
  color: #2c2c2c;
  font-family: "Fascinate";
}
.searchButton {
  margin: 0px 20px;
  padding: 10px 10px;
  background: #2c2c2c;
  border: none;
  border-radius: 40px;
  color: #bababa;
  font-size: 20px;
  font-family: "Fascinate";
  cursor: pointer;
}
.searchButton:hover {
  background: #bababa;
  color: #2c2c2c;
  border: #2c2c2c 1px solid;
  transition: 0.4s ease all;
}
