.searchBarContainer {
  margin-right: 20px;
}

.searchBarContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
  width: fit-content;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.searchBarContainer input {
  margin: 0px 10px;
  background: none;
  border: none;
  color: aqua;
  font-size: 20px;
}
.searchBarContainer input::placeholder {
  color: aqua;
}
.searchButton {
  margin: 0px 20px;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.329);
  border: none;
  border-radius: 8px;
  color: aquamarine;
  font-size: 20px;
}
