@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");

.landingContainer {
  background: url(../../assets/images/background-img.jpg) no-repeat center
    center fixed;
  height: 100vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 90%;
  height: 100%;
}
.textContainer h1 {
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.textContainer span {
  display: inline-block;
  font-family: "Fascinate";
  font-size: 6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: aqua;
}
.textContainer span:nth-child(1) {
  color: aqua;
}
.textContainer span:nth-child(1)::after {
  content: "";
  background: aqua;
  position: relative;
  top: -0.1em;
  width: 24vw;
  height: 1em;
  display: block;
  border-radius: 5px;
}
.textContainer span:nth-child(3) {
  color: #f990e8;
  letter-spacing: 0.18em;
  position: relative;
  top: -1.15em;
  z-index: 2;
  text-shadow: 1px 1px 1px rgb(177, 177, 177), 0.2em 0.15em 0 rgb(58, 58, 58);
}
.iconContainer {
  grid-area: iconContainer;
  font-size: 200px;
  color: aqua;
  text-decoration: none;
  margin-right: 150px;
  margin-bottom: 100px;
}
.playIcon {
  position: relative;
  color: aqua;
  text-decoration: none;
}
.playIcon:hover {
  color: #f990e8;
  transition: 0.3s;
  text-decoration: none;
}
