@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homeContainer {
  align-items: center;
  background: url("../../assets/images/background-img.jpg") no-repeat center
    center fixed;
  background-size: cover;
  height: auto;
}
.pagContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.vgContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: fit-content;
}
.imgNotFoundContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
