@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  align-items: center;
  background: url("../../assets/images/background-img.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
}
.tittleContainer h1 {
  color: #fff;
  font-family: "Wire One", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}
.outsideBorder {
  margin: 0 0 0 600px;
  padding: 5px;
  width: 700px;
  height: 770px;
  border-top: 3px solid #0bd2d3;
  border-left: 3px solid #0bd2d3;
  border-right: 3px solid #0bd2d3;
  border-bottom: 3px solid #0bd2d3;
  box-shadow: #0bd2d3 0px 0px 30px 0px;
}
.formContainer {
  background-color: #984b9cd8;
  backdrop-filter: blur(9px);
  border: #f990e8 2px solid;
  width: 700px;
  height: 770px;
}
.createForm {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formContainer h1 {
  font-size: 30px;
  font-weight: 600;
  color: aqua;
  text-align: center;
  margin-top: 10px;
  font-family: "Wire One", sans-serif;
}

.inputContainer {
  width: 80%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.inputContainerArea {
  width: 80%;
  position: relative;
  height: 140px;
  overflow: hidden;
}

.inputContainer input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding-top: 20px;
  font-size: 16px;
  color: aqua;
}

.inputContainer input::-webkit-inner-spin-button,
.inputContainer input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputContainerArea textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding-top: 20px;
  font-size: 16px;
  color: aqua;
  resize: none;
}

.inputContainer label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #f990e8;
}
.inputContainerArea label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #f990e8;
}
.inputContainer label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid aqua;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.inputContainerArea label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid aqua;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content {
  position: absolute;
  font-size: 30px;
  font-family: "Wire One", sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}
.content2 {
  position: absolute;
  font-size: 20px;
  color: red;
  font-family: "Wire One", sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
  bottom: 5px;
  right: 0;
  transition: all 0.3s ease;
  user-select: none;
}
.inputContainer input:focus + .label .content,
.inputContainer input:valid + .label .content {
  transform: translateY(-150%);
  font-size: 14px;
  color: rgb(255, 245, 107);
}
.inputContainerArea textarea:focus + .label .content,
.inputContainerArea textarea:valid + .label .content {
  transform: translateY(-780%);
  font-size: 14px;
  color: rgb(255, 245, 107);
}
.inputContainer input:focus + .label::after,
.inputContainer input:valid + .label::after {
  transform: translateX(0%);
}
.inputContainerArea textarea:focus + .label::after,
.inputContainerArea textarea:valid + .label::after {
  transform: translateX(0%);
}

.labelSelector {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: aqua;
  text-align: center;
  font-family: "Wire One", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.selectContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  position: relative;
  height: 200px;
}
.selectContainer select {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 10px 50px 10px 10px;
  margin: 10px 0 0 0;
  display: block;
  font-size: 16px;
  color: aqua;
  appearance: none;
  appearance: none;
  background: url(../../assets/images/select.png) no-repeat 95% center;
  background-color: #96219cd8;
  font-family: "Wire One", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.buttonContainer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  right: 0;
}
.btn {
  width: 200px;
  height: 50px;
  border: 3px solid pink;
  outline: none;
  background: aqua;
  color: #96219cd8;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Wire One", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.btn:hover {
  background: #96219cd8;
  color: aqua;
  border: 3px solid aqua;
  transition: 0.5s ease;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85px;
}
.inputDate {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96219cd8;
  color: #0bd2d3;
  font-family: "Wire One", sans-serif;
  letter-spacing: 5px;
  font-weight: bolder;
}
